.AboutmeContainer {
    width: 92%;
    height: 200px;
    margin: auto;
}

.AboutmeContainer h2 {
    text-align: center;
    color:  rgb(42, 127, 191);;
}

.AboutmeMainAndProfile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
}

.AboutmeMainAndProfile .AboutmeImage{
    width: 200px;
    height: 150px;
    background: black;
}

.AboutmeMainAndProfile .AboutmeImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width: 780px) {
    .AboutmeContainer {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    
    .AboutmeContainer h2 {
        text-align: center;
        color:  rgb(42, 127, 191);;
    }
    
    .AboutmeMainAndProfile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row;
    }
    
    .AboutmeMainAndProfile .AboutmeImage{
        width: 200px;
        background: black;
    }
    
    .AboutmeMainAndProfile .AboutmeImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .AboutmeMainAndProfile .AboutmeMain {
        text-align: center;
        margin: 0 4% 0 4%;
    }
}

/* @media screen and (max-width: 280px ) {
    .AboutmeContainer {
        height: 480px;
    }
}

@media screen and (max-width: 320px ) {
    .AboutmeContainer {
        height: 420px;
    }
}

@media screen and (max-width: 400px ) {
    .AboutmeContainer {
        height: 370px;
    }
} */

