.Toggler{
    position: relative;
    font-size: 40px;
    color: #242424;
    cursor: pointer;
    margin-top: 40px;
    transform: translateY(-20%);
    margin-right: 4%;
    transition: font-size 0.1s ease-in;
    z-index: 10000;
}

.Toggler.active {
    position: fixed;
    right: 2%;
}

@media screen and (min-width: 809px){
   .Toggler{
       display: none;
   }
}